@model PagedList.IPagedList<Restoraneo.ViewModels.ReservationViewModel>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_LayoutPreviewReservations.cshtml";
	int i = 0;
}

<div class="panel panel-default panelReservations">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4><b>Pregled rezervacija</b><br /></h4>
        <div>
            @using (Html.BeginForm())
            {
                <p>
                    Pronađi po restoranu: @Html.TextBox("query", ViewBag.CurrentFilter as string)
                    <input class="btn btn-default btnRestoraneo" type="submit" value="Pronađi" />
                </p>
            }
        </div>
    </div>
    <div class="table-responsive">
        <!-- Table -->
        <table class="table">
            <thead>
                <tr class="reservationPreviewHeader">
                    <th>#</th>
                    <th>Broj osoba</th>
                    <th>@Html.ActionLink("Datum", "GetClientReservations", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
					<span class="glyphicon glyphicon-sort"></span></th>
                <th>Vrijeme</th>
                <th>Restoran</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0 && Model != null)
            {
                foreach (var reservation in Model)
                {
				i++;
                    <tr>
                        <td>@i.</td>
                        <td>@reservation.NumberOfPersons</td>
                        <td>@reservation.DateOfReservation</td>
                        <td>@reservation.TimeOfReservation</td>
                        <td>@reservation.RestaurantName</td>
                    </tr>

                }
            }
        </tbody>
    </table>
    <br />
	<div class="paginationPageNumber"> Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("GetClientReservations",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter  }))<div/>
   
</div>
</div>



